# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 16
      - run: npm i --force
      - run: npm run build:lib

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: npm i --force
      - run: npm run ci:pub
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
